.ant-btn-primary,
.ant-btn-default {
  border-color: #3fc060 !important;
}

.ant-btn-primary {
  background-color: #3fc060 !important;
}

.ant-btn-default:hover {
  color: #3fc060 !important;
}

.ant-pagination-item-active {
  border-color: #3fc060 !important;
}

li.ant-pagination-item-active a {
  color: #3fc060 !important;
}

.ant-menu-item-selected {
  background-color: #3fc060 !important;
  color: #fff !important;
}

.ant-btn-dangerous {
  border: crimson 0.5px solid;
  outline: none;
}

h2 {
  color: #3fc060;
  padding-left: 1rem;
  padding-right: 1rem;
}